<h2>Estadísticas:</h2>
<div class="statistics">
	<ul>
		<li>Número Total de Quizes: <%= result.nQuizes %></li>
		<li>Número Total de Comentarios: <%= result.nComments %></li>
		<li>Número de Quizes con Comentarios: <%= result.quizesWithComments %></li>
		<li>Número de Quizes sin Comentarios: <%= result.quizesWithoutComments %></li>
		<li>Media de Comentarios por Quiz: <%= result.meanCommentsForQuiz %></li>
	</ul>
</div>

